body {
  font-size: larger;
  background-color: gray;
}

.center {
  max-width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

nav a{
  text-decoration: none;
  color: white;
  border: 2px green outset;
  background-color: rgba(0, 200, 0, .3);
  padding: 0 7px;
  border-radius: 15px;
}

/* nav a:visited {
  text-decoration: none;
} */
  
nav a:hover, nav a:active, nav a:focus {
  /* text-decoration: none; */
  border-style: inset;
}
 

.articleNav a {
  border: none;
  background-color: darkgrey;
}
.articleNav a:hover {
  border: none;
  background-color: darkgreen;
  border-radius: 0;
}

.activeArticle {
    border: none;
    background-color: darkgreen;
    border-radius: 0;
}

/* nav a:active {
  text-decoration: none;
} */

footer a {
  color: white;
  padding-right: 10px;
}

footer a:hover {
  color: orange;
}


.video {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.video * {
  align-self: center;
}

.video iframe{
  min-width: 30vw;
  min-height: 15vw;
}