.center {
  max-width: 500px;
  margin: auto;
}

nav a:link {
  text-decoration: none;
  color: black;
  border: 2px green inset;
  background-color: rgba(0, 200, 0, .3);
  padding: 0 7px;
  border-radius: 15px;
}

/* nav a:visited {
  text-decoration: none;
} */
  
nav a:hover, nav a:active, nav a:focus {
  /* text-decoration: none; */
  border-style: outset;
  background-color: green;
  color: white;
}
  
/* nav a:active {
  text-decoration: none;
} */