@media only screen and (min-width: 1050px){
    .center{
        align-items: center;
    }

    .article{
        /* align-self: center; */
        max-width: 1000px;
    }

    .articleNav ul{
        display: inline-block;
        width: 98%;
    }

    .leftArrow, .rightArrow {
        display:none;
    }
    
    nav a{
    text-decoration: none;
    color: white;
    /* border: 2px green outset; */
    /* background-color: rgba(0, 200, 0, .3); */
    padding: 0 7px;
    }


    nav a:hover {
        border-style: inset;
        border-bottom: none;
    }

    ul {
        display: flex;
    }

    ul li {
        align-self:center ;
        padding-left: 10px;
    }
    ul li:first-child {
        padding-left: 0;
    }

    #mainNav li:hover{
        /* a random color not to be seen */
        background-color: rgba(0, 200, 0, .01);
    }

    #mainNav li {
        display: block;
    }

    #mainNav ul:first-of-type{
        display: none;
    }

    .navLinks_hidden {
        display: flex;
      }

    .MainNav:first-child{
        display: flex;
    }

    /* admin page */
    .paragraph, .quote {
        width: 70vw;
    }

    .adminPageSize {
        max-width: 1000px;
        min-width: 500px;
    }

}